@charset "UTF-8";

input {
  width: 300px;
  padding: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  display: inline-block;
}

.task__text {
  display: inline-block;
  margin-right: 10px;
}

.is-done {
  text-decoration: line-through;
}